<table>
	<tr>
		<th class="req" >{{string_cddm}}</th>
		<td><input type="text" id="modulecode" name="modulecode" title="{{string_cddm}}"/></td>
	</tr>
	<tr>
		<th class="req">{{string_cdmc}}</th>
		<td><input type="text" id="modulename" name="modulename" title="{{string_cdmc}}"/></td>
	</tr>
	<tr>
		<th class="req">{{string_gsxt}}</th>
		<td><input type="text" class="WDInput" name="code_YYXT" id="code_appkey" title="{{string_gsxt}}" onCodeChange="codechange" /></td>
	</tr>
	<tr>
		<th >{{string_sfgcd}}</th>
		<td><input type="radio" name="sfCode" id="shi" value="{{string_shi}}"/><label for="shi">{{string_shi}}</label>
			<input type="radio" name="sfCode" id="fou" value="{{string_fou}}" checked="checked"/><label for="fou">{{string_fou}}</label>
		</td>
	</tr>
	<tr>
		<th >{{string_xzfcd}}</th>
		<td><input type="text" id="code_PARENTID" name="code_PARENTID" class="WDInput wdWid5 WDinputKey-value WDinputValue-text WDinputHiddenCode  WDinputCount-7" title="{{string_xzfcd}}"/></td>
	</tr>
	<tr>
		<th>{{string_ms}}</th>
		<td><textarea id="descn" name="descn" title="{{string_ms}}"></textarea></td>
	</tr>
</table>