<div class="hp-search-tab-box" style="display: block;">
	<form id="searchForm">
	<table>
		<tr>
			<th>资源名称</th>
			<td><input type="text" id="resourcename" name="resourcename"/></td>
			<th>资源代码</th>
			<td><input type="text" id="resourcecode" name="resourcecode"/></td>
			<th>归属系统</th>
			<td colspan="6"><input type="text" class="WDInput" name="code_YYXT" id="code_appkey" /></td>
			<td>
				<input type="button" value="查询" id="zysearch" class="hp-btn-search btn" />
			</td>
		</tr>
	</table>
	</form>
</div>
<div style="width:98%;margin: 10px 1%;">
	<table id="wd-table"></table>
	<div id="wd-pager"></div>
</div>