<div class="hp-search-box">
	<div class="hp-search-title">
		<span>{{string_cdcx}}</span>
		<a href="javascript:void(0)"></a>
	</div>
	<div class="hp-search-tab-box">
		<form id="searchForm">
		<table>
			<tr>
				<th>{{string_cdmc}}</th>
				<td><input type="text" id="modulename" name="modulename"/></td>
				<th>{{string_cddm}}</th>
				<td><input type="text" id="modulecode" name="modulecode"/></td>
				<th>{{string_gsxt}}</th>
				<td ><input type="text" class="WDInput" name="code_YYXT" id="code_appkey" /></td>
				<td>
					<input type="button" value="{{string_cx}}" id="cdsearch" class="hp-btn-search btn" />
				</td>
			</tr>
			
		</table>
		</form>
	</div>
</div>
<div class="hp-btn-box">
	<input type="button" value="{{string_cjcd}}" class="btn btn-cdadd"/>
	<input type="button" value="{{string_sccd}}" class="btn btn-cddelete" />
</div>
	<table id="wd-table"></table>
	<div id="wd-pager"></div>