<div class="hp-search-box">
	<div class="hp-search-title">
		<span>{{string_glycx}}</span>
		<a href="javascript:void(0)"></a>
	</div>
	<div class="hp-search-tab-box">
		<form id="searchForm">
		<table>
			<tr>
				<th>{{string_glyxm}}</th>
				<td><input type="text" id="username" name="username"/></td>
				<th>{{string_glyzh}}</th>
				<td><input type="text" id="loginid" name="loginid"/></td>
				<td>
					<input type="button" value="{{string_cx}}" id="search" class="hp-btn-search btn" />
				</td>
			</tr>
		</table>
		</form>
	</div>
</div>
<div class="hp-btn-box">
	<input type="button" value="{{string_cjgly}}" class="btn btn-add"/>
	<input type="button" value="{{string_scgly}}" class="btn btn-delete" />
	<input type="button" value="{{string_czmm}}" class="btn btn-czmm"/>
</div>
	<table id="wd-table"></table>
	<div id="wd-pager"></div>