<table>
	<tr class="zhtd">
		<th>{{string_zh}}</th>
		<td><input type="text" id="loginid" name="loginid"
			readonly="readonly" title="{{string_zh}}" /></td>
	</tr>
	<tr>
		<th class="req">{{string_dlm}}</th>
		<td><input type="text" id="loginname" name="loginname"
			title="{{string_dlm}}" /></td>
	</tr>
	<tr>
		<th class="req">{{string_nc}}</th>
		<td><input type="text" id="nickname" name="nickname"
			title="{{string_nc}}" /></td>
	</tr>
	<tr>
		<th class="req">{{string_xm}}</th>
		<td><input type="text" id="username" name="username"
			title="{{string_xm}}" /></td>
	</tr>
	<tr class="mmtr">
		<th class="req">{{string_mm}}</th>
		<td><input type="password" id="passwd" name="passwd"
			title="{{string_mm}}" /></td>
	</tr>
	<tr class="mmtr">
		<th class="req">{{string_qrmm}}</th>
		<td><input type="password" id="confirmpasswd"
			name="confirmpasswd" title="{{string_qrmm}}" /></td>
	</tr>
	<tr>
		<th>{{string_ms}}</th>
		<td><textarea id="descn" name="descn" title="{{string_ms}}"></textarea></td>
	</tr>
</table>