<table>
	<tr>
		<th class="req">{{string_jsdm}}</th>
		<td><input type="text"  id="rolecode" name="rolecode" title="{{string_jsdm}}"/></td>
	</tr>
	<tr>
		<th class="req">{{string_jsmc}}</th>
		<td><input type="text" id="rolename" name="rolename" title="{{string_jsmc}}"/></td>
	</tr>
	<tr>
		<th class="req">{{string_gsxt}}</th>
		<td><input type="text" class="WDInput" name="code_YYXT" id="code_appkey" title="{{string_gsxt}}" /></td>
	</tr>
	
	<tr>
		<th>{{string_ms}}</th>
		<td><textarea id="descn" name="descn" title="{{string_ms}}"></textarea></td>
	</tr>
</table>