<div class="hp-fp-box">
	<div class="hp-fp-item1">
		<div class="hp-fp-search-box">
			<div class="hp-fp-search-tit">
				{{string_yxzqx}}
			</div>
			<div class="hp-fp-search-tab">
			<form id="fpForm">
				<input type="hidden" id="roleid" name="roleid"  />
			<table>
				<tr>
					<th>{{string_qxmc}}</th>
					<td><input type="text" id="permissionname" name="permissionname"/></td>
					<th>{{string_qxdm}}</th>
					<td><input type="text" id="permissioncode" name="permissioncode"/></td>
					<td><input type="button" value="{{string_cx}}" class="btn" id="jsfp-search"/></td>
				</tr>
			</table>
			</form>
			</div>
		</div>
		<table id="yx-table"></table>
		<div id="yx-pager"></div>
	</div>
	<div class="hp-fp-item2">
		<div>
			<input type="button" value="<" class="btn btn-yx" id="js-yx"/>
			<input type="button" value=">" class="btn btn-wx" id="js-wx"/>
		</div>
	</div>
	<div class="hp-fp-item1">
		<div class="hp-fp-search-box">
			<div class="hp-fp-search-tit">
				{{string_wxzqx}}
			</div>
			<div class="hp-fp-search-tab">
			<form id="wfpForm">
				<input type="hidden" id="roleid" name="roleid"  />
			<table>
				<tr>
					<th>{{string_qxmc}}</th>
					<td><input type="text" id="permissionname" name="permissionname"/></td>
					<th>{{string_qxdm}}</th>
					<td><input type="text" id="permissioncode" name="permissioncode"/></td>
					<td><input type="button" value="{{string_cx}}" class="btn" id="jswfp-search"/></td>
				</tr>
			</table>
			</form>
			</div>
		</div>
		<table id="wx-table"></table>
		<div id="wx-pager"></div>
	</div>
</div>