<div class="hp-search-box">
	<div class="hp-search-title">
		<span>{{string_jscx}}</span>
		<a href="javascript:void(0)"></a>
	</div>
	<div class="hp-search-tab-box">
		<form id="searchForm">
		<table>
			<tr>
				<th>{{string_jsmc}}</th>
				<td><input type="text" id="rolename" name="rolename"/></td>
				<th>{{string_jsdm}}</th>
				<td><input type="text" id="rolecode" name="rolecode"/></td>
				<th>{{string_gsxt}}</th>
				<td><input type="text" class="WDInput" name="code_YYXT" id="code_appkey" /></td>
				<td>
					<input type="button" value="{{string_cx}}" id="jssearch" class="hp-btn-search btn" />
				</td>
			</tr>
		</table>
		</form>
	</div>
</div>
<div class="hp-btn-box">
	<input type="button" value="{{string_cjjs}}" class="btn btn-jsadd"/>
	<input type="button" value="{{string_scjs}}" class="btn btn-jsdelete" />
</div>
	<table id="wd-table"></table>
	<div id="wd-pager"></div>