<table>
	<tr>
		<th class="req" >{{string_qxdm}}</th>
		<td><input type="text" id="permissioncode" name="permissioncode" title="{{string_qxdm}}"/></td>
	</tr>
	<tr>
		<th class="req">{{string_qxmc}}</th>
		<td><input type="text" id="permissionname" name="permissionname" title="{{string_qxmc}}"/></td>
	</tr>
	<tr>
		<th class="req">{{string_gsxt}}</th>
		<td><input type="text" class="WDInput" name="code_YYXT" id="code_appkey" title="{{string_gsxt}}" /></td>
	</tr>
	
	<tr>
		<th>{{string_ms}}</th>
		<td><textarea id="descn" name="descn" title="{{string_ms}}"></textarea></td>
	</tr>
</table>