<div class="hp-fp-box">
	<div class="hp-fp-item1">
		<div class="hp-fp-search-box">
			<div class="hp-fp-search-tit">
				{{string_yxzzy}}
			</div>
			<div class="hp-fp-search-tab">
			<form id="fpForm">
				<input type="hidden" id="permissionid" name="permissionid"  />
			<table>
				<tr>
					<th>{{string_zymc}}</th>
					<td><input type="text" id="resourcename" name="resourcename"/></td>
					<th>{{string_zydm}}</th>
					<td><input type="text" id="resourcecode" name="resourcecode"/></td>
					<td><input type="button" value="{{string_cx}}" class="btn" id="qxfp-search"/></td>
				</tr>
			</table>
			</form>
			</div>
		</div>
		<table id="yx-table"></table>
		<div id="yx-pager"></div>
	</div>
	<div class="hp-fp-item2">
		<div>
			<input type="button" value="<" class="btn btn-yx" id="qx-yx"/>
			<input type="button" value=">" class="btn btn-wx" id="qx-wx"/>
		</div>
	</div>
	<div class="hp-fp-item1">
		<div class="hp-fp-search-box">
			<div class="hp-fp-search-tit">
				{{string_wxzzy}}
			</div>
			<div class="hp-fp-search-tab">
			<form id="wfpForm">
				<input type="hidden" id="permissionid" name="permissionid"  />
			<table>
				<tr>
					<th>{{string_zymc}}</th>
					<td><input type="text" id="resourcename" name="resourcename"/></td>
					<th>{{string_zydm}}</th>
					<td><input type="text" id="resourcecode" name="resourcecode"/></td>
					<td><input type="button" value="{{string_cx}}" class="btn" id="qxwfp-search"/></td>
				</tr>
			</table>
			</form>
			</div>
		</div>
		<table id="wx-table"></table>
		<div id="wx-pager"></div>
	</div>
</div>