<table>
	<tr>
		<th class="req">{{string_zydm}}</th>
		<td><input type="text" id="resourcecode" name="resourcecode"
			title="{{string_zydm}}" /></td>
	</tr>
	<tr>
		<th class="req">{{string_zymc}}</th>
		<td><input type="text" id="resourcename" name="resourcename"
			title="{{string_zymc}}" /></td>
	</tr>
	<tr>
		<th class="req">{{string_zylb}}</th>
		<td><input type="text" class="WDInput" name="code_RESOURCETYPE"
			id="code_resourcetype" title="{{string_zylb}}" /></td>
	</tr>
	<tr>
		<th class="req">{{string_zyurl}}</th>
		<td><input type="text" id="resourceurl" name="resourceurl"
			title="{{string_zyurl}}" /></td>
	</tr>
	<tr>
		<th class="req">{{string_gsxt}}</th>
		<td><input type="text" class="WDInput" name="code_YYXT"
			id="code_appkey" title="{{string_gsxt}}" /></td>
	</tr>

	<tr>
		<th>{{string_ms}}</th>
		<td><textarea id="descn" name="descn" title="{{string_ms}}"></textarea></td>
	</tr>
</table>