.wd_zjml {
	position: relative;
}

.wd_zjml:after {
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0;
}

.wd_zjml li {
	list-style: none;
	line-height: 28px;
	height: 30px;
	width: 100%;
	border-bottom: 1px solid #ccc;
}

.zjmldiv {
	width: 100%;
	float: left;
}

.wd_zjml_title {
	/*float: left;*/
	font-size: 14px;
	padding-left: 4px;
	border: 1px solid #fff;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.titleactive {
	width: auto !important;
	border: 1px solid red;
	white-space: normal;
}

.zjmlctrl {
	margin-right: 10px;
	float: right;
	cursor: pointer;
	width: 16px;
	height: 16px;
	margin-top: 6px;
}

.ss {
	width: 16px;
	height: 16px;
	/*border: 1px solid red;*/
	float: left;
	cursor: pointer;
	margin-top: 6px;
	background: url(images/iconfont-jia.png);
}

.ssactive {
	width: 16px;
	height: 16px;
	/*border: 1px solid green;*/
	float: left;
	cursor: pointer;
	margin-top: 6px;
	background: url(images/iconfont-jian.png);
}

.leaf {
	width: 16px;
	height: 16px;
	/*border: 1px solid gold;*/
	float: left;
	margin-top: 6px;
	background: url(images/iconfont-iconfontfile.png);
}

.zjml-add {
	background: url(images/iconfont-add.png);
}

.zjml-update {
	background: url(images/iconfont-update.png);
}

.zjml-delete {
	background: url(images/iconfont-delete.png);
}

.zjml-up {
	background: url(images/iconfont-up.png);
}

.zjml-down {
	background: url(images/iconfont-down.png);
}

.zjml_shield {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	background: #333;
	top: 0px;
	text-align: center;
	opacity: 0.3;
	filter: alpha(opacity=30);
}

.zjml_shield_text {
	top: 50%;
	left: 50%;
	margin-left: -70px;
	position: absolute;
	color: #000000;
	font-size: 14px;
	font-weight: bold;
}

.wdtreecheckbox {
	float: left;
}